node_modules
# Keep environment variables out of version control
.env

# Backend ignores
backend/node_modules/
backend/dist/
backend/build/
backend/**/*.js
backend/**/*.js.map
backend/**/*.d.ts
backend/**/*.d.ts.map
backend/.env


!backend/prisma.config.js

/src/generated/prisma
